<script type="text/html" id="template-no-pins-message">
    <span>There are no pinned items</span>
</script>

<script type="text/html" id="template-list-pin-item">
    <a class="btn-close" href="#">close</a><a href="<%= uri %>"><%= title %></a>
</script>

<script type="text/html" id="template-tab-pin-item">
    <button class="close" type="button">&times;</button><a href="<%= uri %>"><%= title %></a>
</script>