/web/bundles/
/web/css/
/web/js/
/web/uploads/
/web/media/
/app/bootstrap.php.cache
/app/attachment/*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/attachment/.gitkeep
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/karma.conf.js
/app/phpunit.xml
/app/SymfonyRequirements.php
/build/
/vendor/
/bin/
/composer.phar
