[submodule "src/Oro/Bundle/UIBundle"]
	path = src/Oro/Bundle/UIBundle
	url = git@github.com:laboro/UIBundle.git
[submodule "src/Oro/Bundle/FlexibleEntityBundle"]
	path = src/Oro/Bundle/FlexibleEntityBundle
	url = git@github.com:laboro/FlexibleEntityBundle.git
[submodule "src/Oro/Bundle/SearchBundle"]
	path = src/Oro/Bundle/SearchBundle
	url = git@github.com:laboro/SearchBundle.git
