{% extends 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% block content %}

    <h2>Flexible manager registry</h2>
    {{ dump(registry) }}

    <h2>Entities config</h2>
    {{ dump(config['entities_config']) }}

{% endblock %}