{% extends 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% block content %}

    <h2>Flexible Manager Registry</h2>
    {% debug registry %}

    <h2>Entities Config</h2>
    {% debug config['entities_config'] %}

{% endblock %}
