{% extends 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% block content %}

    <h2>Flexible manager registry</h2>
    {% debug registry %}

    <h2>Entities config</h2>
    {% debug config['entities_config'] %}

{% endblock %}