{% extends 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% block pagecontent %}

    <h2>Entities</h2>
    {{ dump(config['entities_config']) }}

    <h2>Attribute types</h2>
    {{ dump(config['attributes_config']) }}

{% endblock %}