{% extends 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% block pagecontent %}

        <div class="popup-box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
    {% for manufacturer in manufacturers %}
        <tr>
            <td>{{ manufacturer.id }}</td><td>{{ manufacturer.name }}</td>
        </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />

{% endblock %}
