{% extends 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% block content %}

    <h1>Manufacturers overview</h1>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for manufacturer in manufacturers %}
            <tr>
                <td>{{ manufacturer.id }}</td><td>{{ manufacturer.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr />

{% endblock %}
