{% extends 'AcmeDemoFlexibleEntityBundle::layout.html.twig' %}

{% block pagecontent %}

    <h3>Manufacturer list</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for manufacturer in manufacturers %}
            <tr>
                <td>{{ manufacturer.id }}</td><td>{{ manufacturer.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr />

{% endblock %}
