{% extends 'AcmeDemoGridBundle::layout.html.twig' %}

{% block content %}
    <div style="background-color: #ffffff; padding: 20px;">
        {% include 'OroGridBundle:Datagrid:view.html.twig' with {'datagrid': datagrid} %}
    </div>
{% endblock %}
