{% extends 'AcmeDemoWindowsBundle::layout.html.twig' %}

{% block content %}

    <div class="container-fluid">
        <h1>Dialog examples</h1>

        <div style="min-height: 650px;border: 1px solid silver" id="window-container">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button id="opener1" class="btn">Open example 1</button>
                    <button id="opener2" class="btn">Open example 2</button>
                    <button id="opener3" class="btn">Open example 3</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function(){
            var pos = 0;
            $("#opener1").click(function(){
                new Oro.widget.DialogView({
                    url: {{ path('acme_demowindows_forms_test')|json_encode|raw }},
                    dialogOptions: {
                        appendTo: '#window-container',
                        allowMaximize: true,
                        allowMinimize: true,
                        dblclick: 'maximize',
                        maximizedHeightDecreaseBy: 'minimize-bar',
                        width : 400,
                        height : 305,
                        title: 'Form example'
                    }
                }).render();
            });
            $("#opener2").click(function(){
                new Oro.widget.DialogView({
                    url: {{ path('acme_demowindows_forms_test2')|json_encode|raw }},
                    dialogOptions: {
                        appendTo: '#window-container',
                        allowMinimize: true,
                        dblclick: 'collapse',
                        width : 400,
                        height : 300,
                        title: 'Second example'
                    }
                }).render();
            });
            $("#opener3").click(function(){
                new Oro.widget.DialogView({
                    url: {{ path('acme_demowindows_forms_testget', {'id': 10})|json_encode|raw }},
                    dialogOptions: {
                        appendTo: '#window-container',
                        width : 400,
                        height : 300,
                        title: 'Default dialog'
                    }
                }).render();
            });
        });
    </script>
{% endblock content %}