{% extends bap.layout %}

{% block content_header '' %}

{% block content %}
    <div style="background: #FFF">
        <h1>Edit product {{ product.name }}</h1>

        <form action="{{ path('acme_demo_edit', { id: product.id }) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" value="Save"/>
        </form>
    </div>
{% endblock %}


