{% extends bap.layout %}

{% block content_header '' %}

    {% block content %}
        <h1>Search Results:</h1>
        {% if searchResults|length %}
            <table border="1">
                <tr>
                    <td>
                        name
                    </td>
                    <td>
                        price
                    </td>
                    <td>
                        description
                    </td>
                </tr>
                {% for product in searchResults %}
                    <tr>
                        <td>
                            {{ product.entity.name }}
                        </td>
                        <td>
                            {{ product.entity.price }}
                        </td>
                        <td>
                            {{ product.entity.description }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="navigation">
                {{ searchResults.render()|raw }}
            </div>
        {% else %}
            <h2>Where is no results. Sorry.</h2>
        {% endif %}
    {% endblock %}