{% extends bap.layout is defined ? bap.layout : 'OroUIBundle:Default:index.html.twig' %}

{% block content_header '' %}

{% block content %}
    <h1>queue done list</h1>
    <table border="1">
        <tr>
            <td>
                record id
            </td>
            <td>
                action
            </td>
        </tr>
        {% for record in records %}
            <tr>
                <td>
                    {{ record.recordId }}
                </td>
                <td>
                    {{ record.action }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
