{% extends 'AcmeDemoGridBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% include 'OroGridBundle:Include:javascript.html.twig' with { datagridView: datagrid, selector: '#backgrid' } %}
{% endblock %}

{% block content %}
    <h2>Mage state report sample</h2>
    <div id="backgrid"></div>
{% endblock %}
